<_b>
<!-- Modal -->
<!-- Modal :: Add Setting -->
<form action="/admin/update_setting" method="POST">    
  <div id="modal_addSetting" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">Add Setting</h3>
    </div>
    <div class="modal-body">
      <table class="table table-striped">
        <tr>
          <td>Setting Name</td>
          <td><input name="user_name" type="input" class="input" value=""></td>
        </tr>
        <tr>
          <td>Value</td>
          <td><input name="email" type="input" class="input" value=""></td>
        </tr>
      </table>
      <input name="setting_id" type="hidden" value="">
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
      <button class="btn btn-primary">Save changes</button>
    </div>
  </div>
</form>
<!-- End Modal -->
</_b>

<div class="container-fluid main_box">
  <div class="row-fluid">

    <div class="span4 well">
      <ul>
        <li>Settings</li>
      </ul>
    </div>

    <div class="span8 container-fluid">
      <div class="row-fluid">
        <div class="span8">
          Settings
        </div>
        <div class="span4">
          <div class="btn-group">
            <a class="btn btn-primary pull-right dropdown-toggle" data-toggle="dropdown" href="#">
              Options
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="#modal_addSetting" role="button" data-toggle="modal">Add Setting</a></li>              
            </ul>
          </div>             
        </div>        
      </div>
      <div class="row-fluid">
        <div class="span12">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Setting</th>
                <th>Value</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
        		  {% if d['settings'] %}
        		    {% for setting in d['settings'] %}
        		      <tr>
        		        <td></td>
        		        <td></td>
        		        <td>
        			  <a href="#">
        			    <button class="btn btn-primary btn-mini">Edit</button>
        		          </a>
        		        </td>
        		      </tr>
        		    {% endfor %}
        		  {% else %}
        		    <tr>
        		      <td colspan="3">
                No settings yet bro
        		      </td>
        		    </tr>
        		  {% endif %}
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div><!-- end row -->
</div><!-- end container -->
