

<div class="container-fluid main_box">
  <div class="row-fluid">

    <div class="span4 well">
      <ul>
        <li>Settings</li>
      </ul>
    </div>

    <div class="span8 container-fluid">
      <div class="row-fluid">
        <div class="span12">
          Settings
        </div>
      </div>
      <div class="row-fluid">
        <div class="span12">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Setting</th>
                <th>Value</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
        		  {% if d['settings'] %}
        		    {% for setting in d['settings'] %}
        		      <tr>
        		        <td></td>
        		        <td></td>
        		        <td>
        			  <a href="#">
        			    <button class="btn btn-primary btn-mini">Edit</button>
        		          </a>
        		        </td>
        		      </tr>
        		    {% endfor %}
        		  {% else %}
        		    <tr>
        		      <td colspan="3">
                No settings yet bro
        		      </td>
        		    </tr>
        		  {% endif %}
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div><!-- end row -->
</div><!-- end container -->
